{{> header }}
{{> navbar }}
<main class="container">
    <div class="card">
        <img class="card-img-top" src="/assets/img/ciro/{{ photo.image }}">
        <div class="card-body">
            <p class="card-text text-center">{{ photo.title }}</p>
        </div>
    </div>
</main>

{{> footer }}