{{> header }}
{{> navbar }}
<main class="container">
    <div class="row row-cols-1 row-cols-lg-3 g-4">
        {{#each photos}}
        <div class="col">
            <div class="card">
                <a href="/photo?photo={{ this.image }}"><img class="card-img-top" src="/assets/img/ciro/{{ this.image }}"></a>
                <div class="card-body">
                    <p class="card-text text-center">{{ this.title }}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>

{{> footer }}