body {
    background-color: #000;
    color: #FFF;
    font-size: 18px;
}

.card {
    background-color: #000000;
    border: 0;
}

.form-control {
    background-color: #000;
    color: #FFF;
}

.form-control:focus {
    color: #FFF;
    background-color: #000;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

footer {
    background-color: #212529;
    color: #FFF;
    width: 100%;
    text-align: center;
    padding: 20px;
}

main {
    /* screen - header - footer */
    min-height: calc(100vh - 56px - 64px);
    padding-top: 2rem;
}

#google-logo {
    max-height: 48px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

#daily .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: contain;
}