:root {
  --main-bg-color: #151515;
  --ciro-primary-color: #052c65;
}

body {
  background-color: var(--main-bg-color);
  color: #fff;
  font-size: 18px;
}

.bg-ciro-primary {
  background-color: var(--ciro-primary-color);
}

.card {
  background-color: var(--main-bg-color);
  border: 0;
}

.card-anim {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.card-anim:hover {
  box-shadow: 0px 0px 5px 0px rgb(5, 44, 101);
}

.form-control {
  background-color: var(--main-bg-color);
  color: #fff;
}

.form-control:focus {
  color: #fff;
  background-color: var(--main-bg-color);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

footer {
  background-color: var(--ciro-primary-color);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 20px;
}

main {
  /* screen - header - footer */
  min-height: calc(100vh - 56px - 64px);
  padding-top: 2rem;
}

#google-logo {
  max-height: 48px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

#daily .card-img-top {
  width: 100%;
  object-fit: contain;
}

.logoSection {
  text-align: right;
}

.btn-primary {
  background-color: #052c65;
  border-color: #052c65;
}

.btn-primary:hover {
  background-color: #031633;
  border-color: #031633;
}

@media (min-width: 992px) {
  #daily .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: contain;
  }
}

@media (max-width: 992px) {
  .logoSection {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .searchSection {
    text-align: right;
    margin-top: 10px;
  }
}
